.password-cont {
  color: var(--bright-aqua);
  border: 2px solid var(--bright-aqua);
  background-color: #00eeff25;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.password-text {
  font-size: var(--base-size);
  line-height: var(--base-height);
  font-weight: var(--base-height);
  letter-spacing: var(--base-spacing);
}

.password-cont img {
  cursor: pointer;
  user-select: none;
}
