.password-history-main-cont h1 {
  color: var(--alabaster);
  font-size: var(--subheading-size);
  font-weight: var(--subheading-weight);
  line-height: var(--subheading-height);
  letter-spacing: 1px;
}

.password-list-element {
  display: flex;
  width: max-content;
  align-items: center;
  gap: 40px;
}

.password-list-element img {
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.password-history-list {
  color: var(--alabaster);
  font-size: var(--base-size);
  opacity: 0.8;
  line-height: var(--base-height);
  font-weight: var(--base-weight);
  letter-spacing: 2px;
}

.password-history-date {
  color: var(--neutral);
  font-size: var(--caption-size);
  opacity: 0.8;
  line-height: var(--caption-height);
  font-weight: var(--caption-weight);
  letter-spacing: 2px;
}

.clear-history-btn {
  color: var(--aureolin);
  font-size: var(--base-size);
  font-weight: var(--base-weight);
  line-height: var(--base-height);
  letter-spacing: 1px;
}
